
Application/bin/Debug/Cloo.dll
Application/bin/Debug/Cloo.pdb
Application/bin/Debug/Cloo.xml
Application/bin/Debug/OpenCLImages.exe
Application/bin/Debug/OpenCLImages.pdb
Application/bin/Debug/OpenCLImages.vshost.exe
Application/bin/Debug/OpenCLImages.vshost.exe.manifest
Application/bin/Release/Cloo.dll
Application/bin/Release/Cloo.pdb
Application/bin/Release/Cloo.xml
Application/bin/Release/OpenCLImages.pdb
Application/bin/Release/OpenCLImages.exe
Application/bin/Release/OpenCLImages.vshost.exe
Application/bin/Release/OpenCLImages.vshost.exe.manifest
Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Application/obj/Debug/OpenCLImages.csproj.FileListAbsolute.txt
Application/obj/Debug/OpenCLImages.csproj.GenerateResource.Cache
Application/obj/Debug/OpenCLImages.csprojResolveAssemblyReference.cache
Application/obj/Debug/OpenCLImages.exe
Application/obj/Debug/OpenCLImages.MainForm.resources
Application/obj/Debug/OpenCLImages.pdb
Application/obj/Debug/OpenCLImages.Properties.Resources.resources
Application/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Application/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Application/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Application/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Application/obj/Release/OpenCLImages.csproj.FileListAbsolute.txt
Application/obj/Release/OpenCLImages.csproj.GenerateResource.Cache
Application/obj/Release/OpenCLImages.csprojResolveAssemblyReference.cache
Application/obj/Release/OpenCLImages.exe
Application/obj/Release/OpenCLImages.MainForm.resources
Application/obj/Release/OpenCLImages.pdb
Application/obj/Release/OpenCLImages.Properties.Resources.resources
Application/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Application/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Application/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Application/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Cloo/bin/Debug/Cloo.dll
Cloo/bin/Debug/Cloo.pdb
Cloo/bin/Debug/Cloo.xml
Cloo/bin/Release/Cloo.dll
Cloo/bin/Release/Cloo.pdb
Cloo/bin/Release/Cloo.xml
Cloo/obj/Debug/Cloo.dll
Cloo/obj/Debug/Cloo.pdb
Cloo/obj/Debug/Cloo.VS2010.csproj.FileListAbsolute.txt
Cloo/obj/Debug/Cloo.VS2010.csprojResolveAssemblyReference.cache
Cloo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cloo/obj/Release/Cloo.pdb
Cloo/obj/Release/Cloo.dll
Cloo/obj/Release/Cloo.VS2010.csproj.FileListAbsolute.txt
Cloo/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
OpenCLImages.v12.suo
Application/obj/Debug/build.force
Application/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
